
/* universal selector */
*{
    margin: 0;
    padding: 0;
}
/* universal selector done */


/* work for header section */
header{
    padding: 40px 50px;
}
.header-title{
    font-weight: 700;
    font-size: 1.5rem;
    color: #3A3A3A;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 1rem;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul li{
    list-style: none;
}
nav ul li a img{
    height: 1em;
    width: auto;
    vertical-align: middle;
}

@media (max-width: 576px){
    header{
        padding: 20px;
    }
    .nav-links{
        gap: 12px
    }
}
/* work for header section done */



/* work for banner section */
.banner{
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px 80px;
}

.banner-header{
    font-weight: 700;
    font-size: 3.25rem;
    margin-bottom: 16px;
    max-width: 582px;
}
.banner-description{
    margin-bottom: 16px;
    max-width: 505px;
}
.banner-button{
    background-color: #E02C6D;
    padding: 10px 56px;
    border-radius: 41px;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 16px;
}
.banner-imgs{
    position: relative;
    width: 400px;
    height: 400px;
}
.banner-imgs img{
    width: 100%;
}
.img-front{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
@media screen and (max-width: 576px){
    .banner{
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }
    .banner-imgs{
        width: 300px;
        height: 300px;
    }
}

/* banner-section end here */